*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
 body{
     font-family:"open sans", Arial;
}
/* Start of Home Section*/
 .home{
     background-image: url(../img/1.jpg);
     background-size: cover;
}
 .layer{
     background-color: rgba(0,0,0,0.6);
     height: 100%;
     width: 100%;
}
 .navbar-brand img{
     width: auto;
     height: 36px;
     margin-left: 25px;
     margin-top: -18px;
}
 .logo{
     width: auto;
     height: 36px;
     margin-left: 0;
     margin-top: -30px;
     display: none;
}
 .change{
     position: fixed;
     z-index: 222;
}
 .navbar-light .navbar-nav .nav-link{
     margin: 5px;
     color: white;
     text-transform: uppercase;
     font-weight: 500;
}
 .navbar-light .navbar-nav .nav-link:hover{
     color:white;
}
 .btn-nav {
     transition: all .5s ease-in-out;
     border: none;
     font-weight: 500;
     padding: 0 10px;
     border-radius: 2px;
}
 .btn-nav:hover{
     background-color: #4caf50;
     color: white;
}
 .home-caption{
     color: white;
     text-align: center;
     position: absolute;
     top: 70%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 75%;
     margin:auto;
}
 .home-caption p{
     font-size: 20px;
     padding-bottom: 9px;
}
 .home-caption h2{
     font-size: 50px;
     padding-bottom: 25px;
}
 .btn-caption{
     background-color: #4caf50;
     color: white;
     border:none;
     font-weight: 500;
     transition: all .5s ease-in-out;
}
 .btn-caption:hover{
     background-color: white;
     color: black;
}
/* End of Home Section*/
/* Start of About Section*/
 .about h4{
     color: #303030;
     font-weight: 500;
     font-size: 18px;
}
 .about p{
     color: #888;
     font-weight: 400;
     font-size: 16px;
     line-height: 33px;
}
 .about .row{
     flex-wrap: nowrap;
}
 .fa-lg{
     color: #4caf50;
}
/* End of About Section*/
/* Start of Services Section*/
 .our-services{
     background-color: #f8f8f8;
     height: auto;
}
 .our-services .heading{
     text-align: center;
     padding: 50px;
}
 .our-services .heading h2{
     color: #303030;
     font-weight: 400;
     font-size: 36px;
     line-height: 50px;
}
 .our-services .heading p{
     color: #888888;
     font-weight: 400;
     font-size: 20px;
     line-height: 37px;
}
 .card{
     border:none;
}
 .card .card-body h5 a{
     color: #303030;
     font-size: 19px;
     font-weight: 400;
     line-height: 26px;
     text-decoration: none;
}
 .card .card-body p{
     color: #888888;
     font-size: 16px;
     font-weight: 400;
     line-height: 30px;
}
 .card a{
     color: #666;
     font-weight: 400;
     font-size: 15px;
     text-decoration: none;
     transition: all 0.5s ease-in-out;
}
 .card a:hover{
     color:#4caf50;
     cursor: pointer;
}

 .card img{
     transition: transform 1s ease-in;
     cursor: pointer;
}
 .card img:hover{
     transform:scale(1.03,1.03);
}
/* End of Services Section*/
/* Start of Secret Section*/
 .our-secret{
     height: auto;
}
 .our-secret h3{
     color: #303030;
     font-weight: 400;
     font-size: 30px;
     line-height: 41px;
     padding: 15px;
}
 .our-secret p{
     color: #686868;
     font-weight: 400;
     font-size: 15px;
     line-height: 28px;
}
 .our-secret ul li{
     list-style: none;
     color: #686868;
     font-weight: 400;
     font-size: 15px;
     line-height: 28px;
}
 .our-secret ul li i{
     color: #4caf50;
     margin-right: 10px;
}
 .our-secret .btn-secret{
     background-color: #4caf50;
     text-transform: uppercase;
     font-size: 12px;
     font-weight: 700;
     line-height: 20px;
     color: white;
     padding: 12px 24px;
     margin: 10px;
     transition: all 0.5s ease-in-out;
}
 .our-secret .btn-secret:hover{
     background-color: #333;
}
 .our-secret img{
     width: 100%;
     max-width: 100%;
     height: auto;
}
/* End of Secret Section*/
/* Start of Testimonial Section*/
 .testimonial{
     background-color: #f8f8f8;
     height: 500px;
     margin-top: 25px;
}
 .testimonial .header i{
     color: #4caf50;
     position: absolute;
     left: 50%;
     margin: 25px;
}
 .testimonial .owl-carousel .item{
     width: 380px;
     height: 265px;
     background-color: white;
     margin-top: 97px;
     padding: 22px 26px;
     box-sizing: inherit;
}
 .testimonial .owl-carousel .item p{
     font-size: 16px;
     font-weight: 400;
     line-height: 30px;
     color: #686868;
}
/* End of Testimonial Section*/
/* Start of Counter Section*/
 .counter i{
     color: #a0a0a0;
     margin-left: 105px;
}
 .counter span{
     display: block;
     color: #686868;
     font-size: 45px;
     font-weight: 400;
     line-height: 52px;
     text-align: center;
     padding-top: 15px;
}
 .counter p{
     color:#a0a0a0;
     font-weight: 400;
     font-size: 20px;
     line-height: 28px;
     text-align: center;
     padding-top: 10px;
}
/* End of Counter Section*/
/* Start of Additional Section*/
 .add-value{
     background-image: url(../img/6.jpg);
     height: 600px;
     background-size: cover;
     position: relative;
}
 .add-caption{
     color: white;
     text-align: center;
     position: absolute;
     top: 53%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 54%;
}
 .add-caption h3{
     font-size: 32px;
     line-height: 44px;
     padding-bottom: 5px;
}
 .add-caption p{
     font-size: 20px;
     line-height: 37px;
}
 .btn-add{
     background-color: #4caf50;
     text-transform: uppercase;
     font-size: 12px;
     font-weight: 700;
     line-height: 20px;
     color: white;
     padding: 12px 24px;
     margin: 10px;
     transition: all 0.5s ease-in-out;
     border: none;
}
 .btn-add:hover{
     background-color: white;
     color: #000;
}
/* End of Additional Section*/
/* Start of Other Services Section*/
 .other-services .heading{
     text-align: center;
     padding: 50px;
}
 .other-services .heading h2{
     color: #303030;
     font-weight: 400;
     font-size: 36px;
     line-height: 50px;
}
 .other-services .heading p{
     color: #888888;
     font-weight: 400;
     font-size: 20px;
     line-height: 37px;
}
 .other-services h4{
     font-size: 18px;
     font-weight: 500;
     color: #303030;
     line-height: 25px;
}
 .other-services p{
     font-size: 15px;
     font-weight: 400;
     color: #686868;
     line-height: 28px;
}
/* End of Other Services Section*/
/* Start of Clients Section*/
 .clients .owl-carousel{
     background-color: #f8f8f8;
     height: 200px;
     width: 100%;
}
 .owl-carousel .owl-item img{
     width: 50%!important;
     height: auto;
     vertical-align: middle;
     margin-top: 50px;
     opacity: 0.7;
     transition: opacity 0.3s ease-in-out;
}
 .owl-carousel .owl-item img:hover{
     opacity: 1.0;
}
/* End of Clients Section*/
/* Start of Contact US Section*/
 .contact-us{
     background-color: #4caf50;
     height: 230px;
     position: relative;
}
 .contact-us .container h2{
     color: white;
     margin-top: 50px;
     font-size: 36px;
     line-height: 54px;
}
 .contact-us .container p{
     color: #d3ebd4;
     font-size: 20px;
     line-height: 30px;
}
 .contact-us .container .btn-contact{
     text-transform: uppercase;
     font-size: 12px;
     font-weight: 700;
     line-height: 20px;
     padding: 20px 25px;
     position: absolute;
     top:40%;
     right: 5%;
     transition: all 0.5s ease-in-out;
     border: none;
}
 .contact-us .container .btn-contact:hover{
     color: white;
     background-color: #333;
}
/* End of Contact US Section*/
/* Start of Details Section*/
 .details{
     background-color: #333;
     height: auto;
}
 .details .container h5{
     color: white;
     font-size: 17px;
     line-height: 23px;
}
 .details .container p{
     color: #58606b;
     font-size: 14px;
     line-height: 28px;
}
 .details .container ul li {
     list-style: none;
     color: #58606b;
     font-size: 14px;
     line-height: 28px;
}
 .details .container a{
     text-decoration: none;
     color: #58606b;
     transition: all 0.5s ease-in-out;
}
 .details .container a:hover{
     color: #007bff;
}
 .details .container i{
     margin-right: 10px;
}
/* End of Details Section*/
/* Start of Footer Section*/
 .footer{
     background-color: #191919;
     height: auto;
}
 .footer .container p{
     color: #58606b;
}
 .footer .container i{
     border-radius: 50%;
     height: 30px;
     width: 30px;
     line-height: 30px;
     font-size: 14px;
     background-color: black;
     transition: all 0.5s ease-in-out;
     text-align: center;
     cursor: pointer;
}
 .footer .container .facebook:hover{
     background-color: #3b5998;
     color: white;
}
 .footer .container .google:hover{
     background-color: #dd4b39;
     color: white;
}
 .footer .container .linkedin:hover{
     background-color: #007bb5;
     color:white;
}
 .footer .container .twitter:hover{
     background-color: #00aced;
     color:white;
}
 .footer .container .move{
     text-align: right;
}
/* End of Footer Section*/
 .scroll-to-top{
     background-color: rgba(0,0,0,0.7);
     color: white;
     padding: 0 5px 3px;
     position: fixed;
     bottom: 10px;
     right: 10px;
     display: none;
     border-radius: 50%;
}
/*Start of Scroll To Top Section*/
 .scroll-to-top:hover{
     color: #eee;
}
/*End of Scroll To Top Section*/
